{% if request.current_signup.crawling_facebook? %}

  <div class="padbottomless" id="facebook_followings">
    <img src="{{ "bert-loader-small.gif" | asset_path }}" border="0"> Checking Facebook for people who have joined...
    {{ request.current_signup.crawling_facebook_status_url | auto_refresh }}
  </div>

{% else %}

  <div class="padbottom">

    {% if request.current_signup.followings_count_from_facebook == 0 %}
      None of your Facebook friends have joined yet.
    {% else %}
    <b>{{ request.current_signup.followings_count_from_facebook }}</b> of your Facebook friends have joined.<br/>
    You are automatically following them, and vice versa.
    {% endif %}
  </div>

  {% if request.current_signup.followings_count_from_facebook > 6 %}
  <div class="supporter_follow_details padbottom">Including...</div>
  {% endif %}

  <div>

    {% for signup in request.current_signup.followings_from_facebook %}
      <div class="friends_connected">
      {{ signup.profile_image }}<br/>
      {{ signup.published_name_linked }}
      </div>
    {% endfor %}

  </div>

  <div style="clear: left" class="supporter_follow_details"></div>

{% endif %}