<div class="byline">
  Posted {% if page.has_author? %} by {{ page.author.published_name_linked }} <span class="pc">{{ page.author.capital_amount_format }}</span> {% endif %} on <span class="date">{{ page.published_at | date: '%m.%d.%y' }}</span>
{% if site.has_rule_page? and false %}&middot; <a href="{{ page.flag_url }}" class="get flag">Flag</a>{% endif %}
  <br/>
  {{ "Share" | share_button page_id: page.id }}
  {% include "font_size_changer" %}        
  <a class="print" href="javascript:window.print();"><span></span>Print</a>

    {% for attachment in page.attachments %}
          {% case attachment.content_type %}
      {% when 'application/pdf' %}
        <a class="download_pdf" href="{{ attachment.url }}"><span></span>Download PDF</a>
      {% when 'application/msword' %}
        <a class="download_pdf" href="{{ attachment.url }}"><span></span>Download DOC</a>
      {% when 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
        <a class="download_pdf" href="{{ attachment.url }}"><span></span>Download DOCX</a>
          {% endcase %}
    {% endfor %}
</div>