{% if request.logged_in? %}

{% elsif request.sorta_logged_in? %}

	Hi <b>{{ request.current_signup.name_or_email }}.</b><br/>
	<div class="social">
		Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.<br/>
		Not {{ request.current_signup.name_or_email }}? <a href="{{ request.current_signup.logout_url }}">click here</a>.
	</div>
{% else %}
	
	<div id="email_signin">
	{% form_for signup %}   
	{% hidden_field_tag "page_id", signup_form.id %} 
	<div class="form_errors">{% error_messages_for signup %}</div>
	<table width="220" cellspacing="0" cellpadding="0">
	  <tr>
	    <td>{% text_field "email", class:"text" %} {% submit_tag "Signup", class:"submit-button" %} <div class="form_submit"></div>
	     <div class="social">or sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.</div>
	    </td>
	  </tr>
	</table>
	{% endform_for %}
	</div>

{% endif %}