{% if request.logged_in? %}
  {% if signup_follow.id != request.current_signup.id %}
    <div style="font-size: 0.9em;">  
    {% if signup_follow.following_ids contains request.current_signup.id %}
    <img src="{{ 'fugue-arrow-curve-180' | icon_url }}" width="16" height="16" alt="{{ signup_follow.published_name }} is following you" title="{{ signup_follow.published_name }} is following you" class="dashboard_icon" /> 
    {% endif %}

    {% if request.current_signup.following_ids contains signup_follow.id %}
    <span class="addreaction">Following</span><span class="plus"><a href="{{ signup_follow.unfollow_url }}" class="delete">X</a></span>
    {% else %}
    <span class="plus_left"><a href="{{ signup_follow.follow_url }}" class="post">+</a></span><span class="addreaction_right"><a href="{{ signup_follow.follow_url }}" class="post">Follow</a></span>
    {% endif %}
    </div>
  {% endif %}
{% endif %}