{% form_for vote_pledge %}  

  <div class="padtopmore text-content">
    <h4>
      Yes, I will
      {% if vote_pledge.could_vote? %}
        vote for
      {% else %}
        support
      {% endif %}
      {{ site.candidate_first_name_or_site_name }}.
    </h4>
  </div>

  {% if page.vote_pledge.yes_content.size > 0 %}
      {{ page.vote_pledge.yes_content }}
  {% endif %}

  {% hidden_field_tag "vote_pledge[will_vote_status]", 1 %}

  <div class="form_errors">{% error_messages_for vote_pledge %}</div>
  
{% if request.logged_in? == true %}
{% else %}
  <table>
  {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
    <tr height="10"></tr>
  	<tr>
  		<td><label for="vote_pledge_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td>
  		<td><label for="vote_pledge_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td>
  	</tr>
  {% endif %}

  {% if request.sorta_logged_in? == false %}
    <tr height="10"></tr>
  	<tr>
  		<td><label for="vote_pledge_email">Email</label><br>{% email_field "email", class:"text" %}</td>
			{% if site.ask_for_mobiles? %}
  		<td><label for="vote_pledge_mobile_number">Mobile phone (optional)</label><br>{% phone_field "mobile_number", class:"text" %}</td>
			{% endif %}
  	</tr>
  	<tr height="10"></tr>
  	<tr>
  	  <td><label for="vote_pledge_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></td>
			{% if site.ask_for_mobiles? %}
  	  <td><label for="vote_pledge_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label></td>
			{% endif %}
  	</tr>
  {% endif %}
  </table>
  {% endif %}

  {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
  	<p><label for="vote_pledge_submitted_address">Address (Street, City, Postal code) -- to see if you can vote</label><br>{% text_field "submitted_address", class:"text" %}</p>   
  {% endif %}

  {% if (request.sorta_logged_in? == false or request.current_signup.is_volunteer == false) and site.ask_for_volunteers? %}
    <p><label for="vote_pledge_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></p>
  {% endif %}

  <p><label for="vote_pledge_content">Comments (optional)</label><br>{% text_area "content", class:"textarea" %}</p>
	{% if site.ask_to_publish_to_stream? %}
  <p><label for="vote_pledge_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish this on the website</label></p>
	{% endif %}

  	{% submit_tag "Save pledge", class:"submit-button" %}
  	<div class="form_submit"></div>

{% endform_for %}