{% form_for vote_pledge %}  

  <div class="padtopmore text-content">
    <h4>
      No, I will not
      {% if vote_pledge.could_vote? %}
        vote for
      {% else %}
        support
      {% endif %}
      {{ site.candidate_first_name_or_site_name }}.
    </h4>
  </div>
  {% if page.vote_pledge.no_content.size > 0 %}
      {{ page.vote_pledge.no_content }}
  {% endif %}

  {% hidden_field_tag "vote_pledge[will_vote_status]", "-1" %}

  <div class="form_errors">{% error_messages_for vote_pledge %}</div>
  
  <p><label for="vote_pledge_do_not_contact">{% check_box "do_not_contact", class:"checkbox" %} Do not contact me</label></p>

  {% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
  <table>
  	<tr>
  		<td><label for="vote_pledge_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td>
  		<td><label for="vote_pledge_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td>
  	</tr>
  </table>
  {% endif %}

  {% if request.sorta_logged_in? == false or request.current_signup.has_mobile? == false %}
  <p><label for="vote_pledge_email">Email</label><br>{% email_field "email", class:"text" %}</p>
  {% endif %}

  {% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
  	<p><label for="vote_pledge_submitted_address">Address (Street, City, Postal code) -- to see if you can vote</label><br>{% text_field "submitted_address", class:"text" %}</p>   
  {% endif %}

  	{% submit_tag "Save settings", class:"submit-button" %}
  	<div class="form_submit"></div>

{% endform_for %}