<div class="activity" id="activity_{{ activity.id }}">

	{% block oneliner %}
		Something happened.
	{% endblock oneliner %}

	<span class="activity_time">
		{% if activity.is_private? %}
			{{ 'lock.gif' | icon }}
		{% endif %}
		{{ activity.created_at | time_ago }}
		{% if activity.type_name == 'Comment' and site.has_rule_page? and activity.data.has_rule_violation? == nil %}
		  <span class="activity_links">&middot; <a href="{{ activity.flag_url }}" class="get flag">Flag</a></span>
		{% endif %}
	</span>

	<div class="activity_content">
		{% block activity_content %}

		{% endblock %}
	</div>

</div>