<div class="onecolumn_container">
  <div class="onecolumn">

		{% if page.nation_signup.content.size > 0 %}
			{{ page.nation_signup.content }}
		{% endif %}

    <div align="center" class="one_column">
      <div class="form_wrap" align="left">
        <div class="form">

          {% if request.sorta_logged_in? %}

          <div class="padtopmore text-content">
            <h4>Hi {{ request.current_signup.name_or_email }}! Start your new nation.</h4>
          </div>

          {% if request.logged_in? == false %}
          <div class="padtop text-content">
            If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
          </div>
          {% endif %}

          {% else %}

          <div class="padtopmore text-content">
            <h4>Start your new nation.</h4>
          </div>

          {% endif %}

          {% form_for nation_signup %}

          <div class="form_errors">{% error_messages_for nation_signup %}</div>

          <div class="padtop">
            <table>
              <tr>
                <td><label for="nation_signup_slug"><b>Choose your NationBuilder URL</b></label><br/>{% text_field "slug", class:"text" %} .nationbuilder.com
                  <div class="note">(you can add your own domain later)</div></td>
              </tr>
            </table>
          </div>

          <div class="padtop">
            <table cellpadding="0" cellspacing="0" width="500">
              <tr>
                <td width="250"><label for="nation_signup_first_name"><b>Your First Name</b></label><br>{% text_field "first_name", class:"text" %}</td>
                <td width="250"><label for="nation_signup_last_name"><b>Your Last Name</b></label><br>{% text_field "last_name", class:"text" %}</td>
              </tr>
            </table>
          </div>

          <div class="padtop">
            <table cellpadding="0" cellspacing="0" width="500">
              <tr>
                <td width="250"><label for="nation_signup_email"><b>Your Email</b></label><br/>{% email_field "email", class:"text" %}</td>
                <td width="250"><label for="nation_signup_phone"><b>Your Phone Number</b></label><br/>{% text_field "phone", class:"text" %}</td>
              </tr>
            </table>
          </div>

          <div class="padtop">
            <table cellpadding="0" cellspacing="0" width="500">
              <tr>
                <td width="250"><label for="nation_signup_password"><b>Choose your password</b></label><br>{% password_field "password", class:"text" %}</td>
                <td width="250"><label for="nation_signup_password_confirmation"><b>Repeat password</b></label><br>{% password_field "password_confirmation", class:"text" %}</td>
              </tr>
            </table>
          </div>

          {% if request.logged_in? and request.current_signup.has_password? %}
          <div class="note">This password is for your personal administrator account on your new nation.<br/> It is separate from your nationbuilder.com password.</div>
          {% endif %}

           {% unless page.nation_signup.has_plan? %}
                        {% if page.nation_signup.has_edition? == false %}
              <div class="padtopmore nation_signup">
                            {{ page.nation_signup.form_edition_options }}
              </div>
                        {% endif %}
            {% else %}
                <div class="padtopmore nation_signup">
                    <label for="nation_signup_nation_plan_id"> <b>Choose your plan</b></label>
                    {{ page.nation_signup.form_plan_dropdown }}
                </div>
            {% endunless %}

          {% if page.nation_signup.ask_for_cc? %}
	          <hr />

	          <h4>Enter your billing information</h4>

	          <div class="trial">
	            <div style="font-size: 17px; font-weight: bold; margin-bottom: 10px;">14 day free trial</div>
	            <b>You won't be billed unless you keep your account open past your 14 day free trial.</b> We need your billing information to reduce fraud and verify you have a valid credit card should you keep your nation. This prevents any interruption in service. <b>You can change your plan or cancel at anytime.</b>
	          </div>

	          <label for="nation_signup_card_number">Credit card number</label>
	          <div class="nation_signup">
	            <table>
	              <tr>
	                <td>{% text_field "card_number", class:"text" %}</td>
	                <td><div style="position: relative; top: 4px;"><img src="{{ 'lock' | icon_url }}" width="24" height="24" alt="Secure" title="Secure" align="middle" style="position: relative; top: -5px;"/><span style="font-size: 12px; font-weight: bold;">Secure</span></div></td>
	                <td>{{ page.nation_signup.accepted_card_icons }}</td>
	              </tr>
	            </table>
	          </div>
	          <div class="padtop nation_signup">
	            <table>
	              <tr>
	                <td width="50"><label for="nation_signup_card_expires_on">Expires:</label></td><td>{{ page.nation_signup.form_card_expires_on }}</td>
	                <td width="15"></td>
	                <td><label for="nation_signup_zip">Billing postal code:</label></td><td>{% text_field "zip", class:"text" %}</td>
	              </tr>
	            </table>
	          </div>
	        {% endif %}

          <div class="padtop">
            {% check_box "accept_tos", class:"checkbox" %} I agree to the <a href="http://nationbuilder.com/tos" target="_blank">NationBuilder terms of service</a>
          </div>

          <div class="padtopmore">
            {% submit_tag "Start your nation", class:"submit-button" %}
            <div class="form_submit"></div>
          </div>

          {% endform_for %}

        </div>
      </div>
    </div>

  </div>
</div>
