{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">
	
	{% if page.leaderboard.content.size > 0 %}
		<div id="intro">
			{{ page.leaderboard.content }}
		</div>
	{% endif %}
	
	<div class="padtopmore padbottom">
		
	  {% for leaderboard in page.page_leaderboards %}
  
	    <div class="leaderboard_{% cycle 'left', 'right' %} padbottom"> <!-- use leadeboard_right for right column -->
  
	      {% if leaderboard.has_goal? %}
	        {% assign thermo_width = 200 %}
	        <div class="horizontalgoal" style="padding-left: 0px;">GOAL: {{ leaderboard.goal }} {{ leaderboard.goal_name }}</div>
	        <div  style="float: left; width: {{ thermo_width }}px;">
	          <div class="thermo_donate_container">
	          <div class="padbottomless">
	              <div class="thermometer_progress_text" style="width: {{ thermo_width }}px;">
	              {{ leaderboard.total }} {{ leaderboard.goal_name_short }}
	           </div>
	           <div align="left" class="thermometer_background" style="width: {{ thermo_width }}px;">
	           <div class="thermometer_progress" style="width: {{ leaderboard.percent_of_goal | times:thermo_width }}px;"></div>
	           </div>
	         </div>
	         </div>
	        </div>
	        <div class="padbottommore" style="clear: left;"></div>

	      {% endif %}

	      {% if leaderboard.display_number_results > 0 %}
  
	        <b>Top {{ leaderboard.display_number_results }} {{ leaderboard.display_name }}</b>

	        <hr style="margin: 5px 0 10px 0;" />

	        {% for entry in leaderboard.entries %}
	          <div class="leaderboard_rank_wrap {% cycle 'odd', 'even' %}">
	          <div class="leaderboard_rank rising">{{ entry.position }}</div>
	          <div class="leaderboard_pic">{{ entry.signup.profile_image }}</div>
	          <div class="leaderboard_name">{{ entry.signup.published_name_linked }}</div>
	          <span class="pb">{{ entry.total }} {{ leaderboard.goal_name }}</span>
	          </div>
	        {% endfor %}
    
	      {% endif %}
    
	    </div>
  
	  {% endfor %}
  
	  <div style="clear: left;"></div>


		<div class="padbottommore">
		<b>Do you like this?</b>
		{% include "like_page" %}
		</div>

	</div>
</div>