{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<div id="headline">
		<h2>{{ page.headline }}</h2>
	</div>
{% endif %}

<div id="content">

	{% if page.vote_pledge.content.size > 0 %}
		<div id="intro">
			{{ page.vote_pledge.content }}
		</div>
	{% endif %}

	{% if page.vote_pledge.has_yes_goal? %}
	  {% assign thermo_width = 200 %}
	    <div style="float: left; width: {{ thermo_width }}px;">
	     <div class="thermo_donate_container">
	     <div class="padbottomless">
	         <div class="thermometer_progress_text" style="width: {{ thermo_width }}px;">
	        {% if page.vote_pledge.yes_votes_count < 2 %}
	          JUST STARTED
	        {% else %}
	          {{ page.vote_pledge.yes_votes_count | number_with_commas }} VOTES FOUND
	        {% endif %}
	      </div>
	      <div align="left" class="thermometer_background" style="width: {{ thermo_width }}px;">
	      <div class="thermometer_progress" style="width: {{ page.vote_pledge.percent_of_yes_goal | times:thermo_width }}px;"></div>
	      </div>
	    </div>
	    </div>
	   </div>
	    <div style="float: left;">
	      <div class="horizontalgoal">GOAL: {{ page.vote_pledge.yes_goal | number_with_commas }} votes</div>
	    </div>
	    <div style="clear: left;"></div>
	{% elsif page.vote_pledge.yes_votes_count > 4 %}
	  <div class="horizontalgoal" style="padding: 0px;">{{ page.vote_pledge.yes_votes_count | number_with_commas }} votes</div>
	{% endif %}

	{% if page.vote_pledge.is_pledged? %}

		<div class="padtopless one_column">

			<h3>You
	  		{% if page.vote_pledge.current_vote_pledge.is_no? %}
	  		  pledged not
	  		{% elsif page.vote_pledge.current_vote_pledge.is_unsure? %}
	  		  said you were not sure whether
	  		{% elsif page.vote_pledge.current_vote_pledge.is_yes? %}
	  		  pledged
	  		{% endif %}
	  		to
	  		{% if page.vote_pledge.current_vote_pledge.could_vote? %}
	  		  vote for
	  		{% else %}
	  		  support
	  		{% endif %}
	  		{{ site.candidate_first_name_or_site_name }}.
			</h3>

			<div class="destroy_link padtop">
				{{ page.vote_pledge.current_vote_pledge | delete_link message: "Remove pledge" }}
			</div>


		</div>

	{% else %}

		<div class="padtop one_column">

		    <div class="form_wrap">
				<div class="form">
					<div class="form_errors">{% error_messages_for vote_pledge %}</div>
			
					
	    	  <div id="vote_pledge_form">

				<div class="padtopmore">
	  		    <a href="{{ page.vote_pledge.yes_url }}" class="get green-button">Yes</a><span style="font-size: 1.6em;"> I support {{ site.candidate_first_name_or_site_name }}.</span>

				<div class="padtop padbottom"></div>

	  		    <a href="{{ page.vote_pledge.unsure_url }}" class="get blue-button">I might</a> <span style="font-size: 1.2em;">support {{ site.candidate_first_name_or_site_name }}, <a href="{{ site.full_url}}">tell me more</a>.</span>

				<div class="padtop padbottom"></div>

	  		    <a href="{{ page.vote_pledge.no_url }}" class="get destroy-button">No</a><span style="font-size: 1.2em"> I do not support {{ site.candidate_first_name_or_site_name }}.</span>
				</div>

			    </div>

				</div>


				{% if page.text_keyword_instructions.size > 0 %}
					<div class="padbottom padtopmore">
						or {{ page.text_keyword_instructions }}
					</div>
				{% endif %}

		</div>
		</div>

	{% endif %}

	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	<div class="padtopmore padbottom">
		<div id="like_page">
			<b>Like this to spread the word</b>
      {% include "like_page" %}
		</div>
	</div>

	{% if page.show_stream? %}
	  {% include "page_stream" %}
	{% endif %}

</div>