<div id="wide">

<div class="twocolumn_container" style="padding-bottom: 0px;">

  <!-- left column begins -->
	<div class="left_column">

	{% include "breadcrumbs" %}

	{% if page.headline.size > 0 %}
		<div id="headline">
		  <h2>{{ page.headline }}</h2>
		</div>
	{% endif %}

	{% if page.petition.intro.size > 0 %}
		<div id="intro">
			{{ page.petition.intro }}
		</div>
	{% endif %}

	{% if page.petition.content.size > 0 %}
	  <div id="petition_content">
	    {{ page.petition.content }}
	  </div>
	{% endif %}

	{% if page.petition.has_goal? %}
	  {% assign thermo_width = 200 %}
	    <div style="float: left; width: {{ thermo_width }}px;">
	     <div class="thermo_donate_container">
	     <div class="padbottomless">
	         <div class="thermometer_progress_text" style="width: {{ thermo_width }}px;">
	        {% if page.petition.signatures_count < 2 %}
	          JUST STARTED
	        {% else %}
	          {{ page.petition.signatures_count | number_with_commas }} {{ page.petition.signature_name | pluralize | upcase }}
	        {% endif %}
	      </div>
	      <div align="left" class="thermometer_background" style="width: {{ thermo_width }}px;">
	      <div class="thermometer_progress" style="width: {{ page.petition.percent_of_goal | times:thermo_width }}px;"></div>
	      </div>
	    </div>
	    </div>
	   </div>
	    <div style="float: left;">
	      <div class="horizontalgoal">GOAL: {{ page.petition.goal | number_with_commas }} {{ page.petition.signature_name | pluralize | downcase }}</div>
	    </div>
	    <div style="clear: left;"></div>
	{% elsif page.petition.signatures_count > 4 %}
	  <div class="horizontalgoal" style="padding: 0px;">{{ page.petition.signatures_count | number_with_commas }} {{ page.petition.signature_name | pluralize | downcase }}</div>
	{% endif %}

	{% if page.tags_count > 0 %}
		<div id="page_tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	<div id="like_page">
		<div class="padtop padbottom">
		<b>Like this to spread the word:</b>
    {% include "like_page" %}
		</div>
	</div>

	{% if page.petition.is_image? and page.petition.signatures_with_images.size > 0 %}
		<div class="padtop">
			{% for signature in page.petition.signatures_with_images limit:4 %}
				<img src="{{ signature.large_square_image_url }}" border="0" width="140" height="140">
			{% endfor %}
		</div>
	{% endif %}

	{% if page.show_stream? %}
	  {% include "page_stream" %}
	{% endif %}

</div>

<div class="right_column">

	{% if page.petition.is_signed? %}

				{% form_for petition_signature %}

					<div class="form">

	          <h3>Thank you for signing!</h3>

						<div class="form_errors">{% error_messages_for petition_signatures %}</div>

				    {% if page.is_commentable? %}
						<p>{% text_area "content", class:"textarea" %}</p>
	          {% endif %}

						{% if page.petition.is_image? %}
							<p><label for="petition_signature_image">Upload a picture (140x140)</label><br/>{% file_field "image", class:"file" %}</p>
						{% endif %}

	            {% if page.is_commentable? %}
							{% capture signature_name %}Update {{ page.petition.signature_name }}{% endcapture %}
							{% submit_tag signature_name, class:"submit-button-huge" %}
							{% endif %}

							{% capture signature_name %}Remove {{ page.petition.signature_name }}{% endcapture %}
						<div class="padtop destroy_link_huge">{{ page.petition.current_signature | delete_link message: signature_name }}</div>

							<div class="form_submit"></div>

					</div>

				{% endform_for %}

	{% else %}


			{% form_for petition_signature %}

				<div class="form">

	    	  {% if request.sorta_logged_in? %}
	    	    <div class="text-content">
	    	      <h4>Hi {{ request.current_signup.name_or_email }}, will you sign?</h4>
	    	    </div>

	    	    {% if request.logged_in? == false %}
	      	    <div class="padtop text-content">
	      	      If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
	      	    </div>
	    	    {% endif %}

	        {% else %}

	          <div class="text-content">
	            <h4>Will you sign?</h4>
	          </div>

	    	  {% endif %}

					<div class="form_errors">{% error_messages_for petition_signature %}</div>

		      <table cellpadding="0" cellspacing="0">
		      <tr height="15"></tr>
		  		{% if request.sorta_logged_in? == false or request.current_signup.has_name? == false %}
	    			<tr>
	    				<td>{% text_field "first_name", class:"text" %}</td>
	    				<td width="5"></td>
	    				<td>{% text_field "last_name", class:"text" %}</td>
	    			</tr>
	    		{% endif %}

	    		{% if request.sorta_logged_in? == false %}
	    		  <tr height="15"></tr>
	    			<tr>
	    				<td>{% email_field "email", class:"text" %}</td>
							{% if site.ask_for_mobiles? %}
							  <td width="5"></td>
	    					<td>{% phone_field "mobile_number", class:"text" %}</td>
							{% endif %}
	    			</tr>
	    			<tr height="15"></tr>
	    			<tr>
	    			  <td colspan="3"><label for="petition_signature_email_opt_in">{% check_box "email_opt_in", class:"checkbox" %} Send me email updates</label></td>
	    			</tr>
							{% if site.ask_for_mobiles? %}
							  <tr>
	    			  	<td colspan="3"><label for="petition_signature_mobile_opt_in">{% check_box "mobile_opt_in", class:"checkbox" %} Send me text message updates</label>
							{% endif %}
	    			</td>
	    			</tr>
	    		{% endif %}
	    		</table>

	    		{% if page.petition.is_phone? %}
	    		<p><label for="petition_signature_phone_number">Phone</label><br>{% phone_field "phone_number", class:"text" %}</p>
	    		{% endif %}

	        {% if page.petition.is_address? %}
	      		{% if request.sorta_logged_in? == false or request.current_signup.has_full_address? == false %}
	      		<p><label for="petition_signature_submitted_address">Address (Street, City, State, Postal code)</label><br>{% text_field "submitted_address", class:"text" %}</p>
	      		<p><label for="petition_signature_country_code">Country</label><br>{% collection_select "country_code", page.petition.countries, "code", "name", class:"select" %}</p>
	      		{% endif %}
	        {% endif %}
	        {% if page.is_commentable? %}
				    <p>{% text_area "content", class:"textarea" %}</p>
					{% endif %}

					{% if page.petition.is_image? %}
						<p><label for="petition_signature_image">Upload a picture (140x140)</label><br/>{% file_field "image", class:"file" %}</p>
						{% if petition_signature.has_image? %}
							<p><img src="{{ petition_signature.large_square_image_url }}" width="140" height="140" border="0" /></p>
						{% endif %}
					{% endif %}

					{% if site.ask_to_publish_to_stream? %}
					<p><label for="petition_signature_is_private">{% check_box "is_private", class:"checkbox" %} Don't publish on the website</label></p>
					{% endif %}

	    		{% if page.petition.is_volunteer? and site.ask_for_volunteers? %}
	    		  {% if request.sorta_logged_in? == false or request.current_signup.is_volunteer == false %}
	    		    <p><label for="petition_signature_is_volunteer">{% check_box "is_volunteer", class:"checkbox" %} I want to volunteer</label></p>
	    		  {% endif %}
	        {% endif %}

					{% capture signature_name %}Add {{ page.petition.signature_name }}{% endcapture %}
					{% submit_tag signature_name, class:"submit-button-huge" %}
						<div class="form_submit"></div>

			{% endform_for %}


			{% if page.text_keyword_instructions.size > 0 %}
				<p><div class="keywords">or {{ page.text_keyword_instructions }}</div></p>
			{% endif %}

		</div>

	{% endif %}

    </div>
  	<!-- right columns ends -->

    <div style="clear: both;"></div>
  </div>
</div>