<div class="padbottomless">
<div class="breadcrumbs">
  <a href="/">Home</a> &rarr;
  <a href="/users/pages">Your pages</a> &rarr;
</div>
</div>

<div class="padbottom">
  <h2>{{ event_page.page.headline }}</h2>
</div>

<div class="one_column padbottommore">

	{% form_for event_page %}

  <div class="form_wrap">
		<div class="form">

			<div class="form_errors">{% error_messages_for event_page %}</div>

			<table>
			  <tr height="10"></tr>
			  <tr>
			    <td><label for="event_page_start_at_chronic">When</label><br>{% text_field "start_at_chronic", class:"text" %}</td>
			    <td><label for="event_page_duration_chronic">Length</label><br>{% text_field "duration_chronic", class:"text" %}</td>
			  </tr>
			</table>

			<table>
			  <tr height="10"><tr/>
			  <tr>
			    <td class="notranslate" width="50%"><label for="event_page_time_zone">Time zone</label><br>{% collection_select "time_zone", event_page.time_zones, class:"select" %}</td>
			    <td width="50%"><label for="event_page_capacity_count">Maximum capacity</label><br>{% text_field "capacity_count", class:"text" %}</td>
			  </tr>
			</table>

			<div class="padtopmore">
			  <h4>Contact info</h4>
			</div>

			<p><label for="event_page_contact_name">Name</label><br>{% text_field "contact_name", class:"text" %}</p>
			<table>
			  <tr>
			    <td><label for="event_page_contact_email">Email</label><br>{% text_field "contact_email", class:"text" %}</td>
			    <td><label for="event_page_contact_phone_number">Phone</label><br>{% text_field "contact_phone_number", class:"text" %}</td>
			  </tr>
			  <tr height="10"></tr>
			  <tr>
			    <td>{% check_box "is_contact_email_private", class:"check_box" %} Don't publish email address</td>
			    <td>{% check_box "is_contact_phone_private", class:"check_box" %} Don't publish phone number</td>
			  </tr>
			</table>

			<div class="padtopmore">
	      <h4>Location</h4>
	    </div>

      <p><label for="event_page_venue_name">Venue name</label><br>{% text_field "venue_name", class:"text" %}</p>
      <p><label for="event_page_address1">Address</label><br>{% text_field "venue_address.address1", class:"text" %}<br>{% text_field "venue_address.address2", class:"text" %}</p>

			<table>
				<tr>
					<td><label for="event_page_city">City</label><br>{% text_field "venue_address.city", class:"text" %}</td>
					{% if settings.has_states? %}
					<td><label for="event_page_state">State</label><br>{% text_field "venue_address.state", class:"text" %}</td>
					{% endif %}
					<td><label for="event_page_zip">Postal code</label><br>{% text_field "venue_address.zip", class:"text" %}</td>
				</tr>
			</table>

			<div class="padtopmore">
	      <h4>Ticket price</h4>
	      If free, just leave at 0.00.
	    </div>

			<table>
			  <tr height="10"></tr>
				<tr>
					<td><label for="event_page_user_ticket_price">Amount</label><br>{% text_field "user_ticket_price", class:"text" %}</td>
					<td><label for="event_page_user_ticket_currency">Currency</label><br>{% collection_select "user_ticket_currency", event_page.currencies_available, class:"select" %}</td>
				</tr>
			</table>
			<p><label for="event_page_user_ticket_purchase_url">Ticket purchase URL</label><br>{% text_field "user_ticket_purchase_url", class:"text" %}</p>

      <div class="padtopmore">
	      <h4>Description, include directions</h4>
	    </div>

			<p><div class="so_ie_does_not_put_this_in_the_footer">{% text_area "content_editable", class:"textarea-tinymce" %}</div></p>

			<p><label for="event_page_accept_rsvps">{% check_box "accept_rsvps", class:"check_box" %} Allow people to RSVP</label></p>
			<p><label for="event_page_allow_guests">{% check_box "allow_guests", class:"check_box" %} Allow people to bring guests (+1)</label></p>
			<p><label for="event_page_show_guests">{% check_box "show_guests", class:"check_box" %} Show who is coming</label></p>
			<p><label for="event_page_is_private">{% check_box "is_private", class:"check_box" %} Keep the RSVP page hidden from the rest of the site</label></p>

			<div class="padtop">
			  {% submit_tag "Save and update page", class:"submit-button" %}
			  <div class="form_submit"></div>
			</div>

		</div>

	</div>

	{% endform_for %}

</div>