<div class="onecolumn_container">
	<div class="onecolumn">

<div align="center" class="one_column">
<div class="form_wrap" align="left">
<div class="form">
  
  {% unless request.is_ajax? %}
  <div class="padtop">
  <h2>Activate your account</h2>
  </div>
  {% endunless %}
  
  {% form_for activation %}

  	<div class="form_errors">{% error_messages_for activation %}</div>

    <input type="hidden" name="activation[activation_code]" value="{{ activation.activation_code }}" />

  	<table>
  	  <tr height="10"></tr>
  		<tr>
  			<td><label for="activation_first_name">First Name</label><br>{% text_field "first_name", class:"text" %}</td>
  			<td><label for="activation_last_name">Last Name</label><br>{% text_field "last_name", class:"text" %}</td>
  		</tr>
  	</table>

		<p><label for="activation_username">User name</label><br>{% text_field "username", class:"text" %}<br>Your public profile will be at {{ site.full_url }}{% if request.current_signup.has_username? %}{{ request.current_signup.username }}{% else %}username{% endif %}</p> 
	
    {% if activation.is_address_needed %}
  	<p><label for="activation_submitted_address">Address (Street, City, State, Postal code)</label><br>{% text_field "submitted_address", class:"text" %}</p>
    {% endif %}
  
    {% if activation.is_mobile_needed and site.ask_for_mobiles? %}
    	<p><label for="activation_mobile_number">Mobile phone (optional)</label><br>{% phone_field "mobile_number", class:"text" %}</p>
    	<p><label for="activation_mobile_opt_in">{% check_box "mobile_opt_in", class:"check_box" %} Send me text message updates</label></p>  	
    {% endif %}
  
  	<p><label for="activation_password">Choose your password</label><br>{% password_field "password", class:"text" %}</p>
	
  	<p><label for="activation_password_confirmation">Repeat password</label><br>{% password_field "password_confirmation", class:"text" %}</p>

  	  {% submit_tag "Activate account", class:"submit-button" %}
  	  <div class="form_submit"></div>
	
  {% endform_for %}

</div>
</div>
</div>

  </div>
</div>
